@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    display: inline-block;
    width: 111.49px;
    height: 20.66px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: xx-large;
}

ul {
    display: flex;
    gap: 50px;
}

button {
    width: 77px;
    height: 40px;
    border-radius: 6px;
}

li {
    list-style-type: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;


}

.all-part-header {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
}

.left-part-page {
    position: absolute;
    left: 90px;
}

.right-part-page {
    position: absolute;
    right: 90px;
}

.login-button {
    border: 0px;
    background-color: white;
    color: #4CAF4F;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.signup-button {
    width: 91px;
    height: 40px;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    border-radius: 6px 0px 0px 0px;
    opacity: 0px;
    border: 0px;
    background-color: #4CAF4F;
    color: white;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.first-part-of-main {
    width: Fill (1, 440px)px;
    height: Hug (599px)px;
    padding: 96px 144px 96px 144px;
    gap: 104px;
    opacity: 0px;
    background-color: #F5F7FA;
}

.first-part-of-main {
    display: flex;
    align-items: center;
    gap: 200px;
}

.register-button {
    display: block;
    width: 128px;
    height: 52px;
    padding: 14px 32px 14px 32px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    border: 0px;
    background-color: #4CAF4F;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: white;
}

.any-text-first {
    font-family: Inter;
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
    text-align: left;
}

.any-text-second {
    font-family: Inter;
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
    text-align: left;
    color: #4CAF4F;
}

.some-of-texts {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #717171;
}


.left-part-features {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.left-part {
    display: flex;

}

.heading-part {
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    margin-bottom: 15px;
}

.top-part-of-our-clients {
    text-align: center;
}

.our-clients-part {
    padding: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.body-text-span {
    display: inline-block;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #717171;

}

.bottom-part-of-our-clients {
    display: flex;
    justify-content: space-evenly
}

.system-community-part-bottom {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.system-community-part-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.system-community-part-text {
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    max-width: 540px;
}

.system-community-part-subtitle {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #717171;
    margin-bottom: 30px;
    margin-top: 20px;
}

.community-title {
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #4D4D4D;
    max-width: 170px;

}

.system-community-part {
    margin-bottom: 100px;
}

.community-text {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #717171;
    max-width: 250px;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 4px 0px #ABBED133;
    width: Fixed (299px)px;
    height: Hug (260px)px;
    padding: 24px 32px 24px 32px;
    gap: 8px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;

}

.apart {
    max-width: 230px;
}

.pixelgrade-part-right {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 20px;
}

.pixelgrade-part-head {
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    color: #4D4D4D;
    max-width: 500px;
}

.pixelgrade-part-subtitles {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #717171;
    max-width: 570px;
}

.pixelgrade-part-button {
    width: 151px;
    height: 52px;
    padding: 14px 32px 14px 32px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background-color: #4CAF4F;
    border: 0px;
}

.pixelgrade-part {
    display: flex;
    justify-content: center;
}

.pixelgrade-part-button-hint {
    font-family: Inter;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: white;
}

.business-reinvent-part {
    display: flex;
    background-color: #F5F7FA;
    padding: 64px 144px;
    margin-top: 90px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.business-reinvent-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 25px;
}

.business-reinvent-attributes {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    gap: 40px;

}

.business-reinvent-text-one {
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    color: #4D4D4D;
}

.business-reinvent-text-two {
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    color: #4CAF4F;
}

.business-reinvent-subtitle {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #18191F;
}

.reinvent-icon-count {
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: #4D4D4D;
}

.reinvent-icon-subtitle {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #717171;
}

.business-reinvent-attribute {
    width: Hug (255px)px;
    height: Hug (60px)px;
    gap: 16px;
    opacity: 0px;
}

.one-piece {
    max-width: 200px;
    display: flex;
    column-gap: 10px;

}

.two-piece {
    max-width: 100px;
    display: flex;
    column-gap: 10px;
}

.three-piece {
    max-width: 200px;
    display: flex;
    column-gap: 10px;
}

.four-piece {
    display: flex;
    max-width: 200px;
    column-gap: 10px;
}

.about-part-of-main {
    display: flex;
    justify-content: center;
    margin:50px 0;
    column-gap: 70px;
}

.head-of-about {
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    color: #4D4D4D;
    max-width: 600px;
}

.right-side-of-about{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.texts-of-about {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #717171;
    margin-top: 16px;
    margin-bottom: 32px;
    max-width: 600px;

}

.button-of-about {
    width: 151px;
    height: 52px;
    padding: 14px 32px 14px 32px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background-color: #4CAF4F;
    border: 0px;
    color: white;
}