@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

section {
    padding: 20px 40px;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
}

.starting-title {
    font-family: Manrope;
    font-size: 20px;
    font-weight: 700;
}

.header-part-navigation-item {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #0A0B0D;
}

.header-part-button {
    width: Hug (80px)px;
    height: Hug (40px)px;
    padding: 8px 16px 8px 16px;
    gap: 12px;
    border-radius: 4px 0px 0px 0px;
    border: 0;
    background-color: #1B9E4B;
}

.header-part-button-text {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: white;
}

.started-section-all-parts {
    display: flex;
}

.started-section-left-part-text {
    font-family: Manrope;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
}

.started-section-left-part-text-bottom {
    font-family: Manrope;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: #A855F7;
}

.started-section-left-part-text-paragraph {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    max-width: 430px;
    margin: 25px 0px;
}

.started-section-left-part-button {
    width: Hug (166px)px;
    height: Hug (48px)px;
    padding: 12px 40px 12px 40px;
    gap: 12px;
    border-radius: 4px 0px 0px 0px;
    border: 0;
    background-color: #1B9E4B;
}

.started-section-left-part-button-text {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: white;
}

.started-section-image-part {
    position: absolute;
    right: 30px;
}

.our-services-section {
    position: absolute;
    top: 700px;
}

.our-services-section-type {
    width: 392px;
    height: 210px;
    gap: 15px;
}

.our-services-section-types {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 35px;
    justify-content: center;
    margin-top: 60px;
}

.our-services-section-title {
    font-family: Manrope;
    font-size: 36px;
    font-weight: 600;
    line-height: 52px;
    text-align: center;
    margin-bottom: 25px;
}

.our-services-section-title-name{
    font-family: Manrope;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    margin: 15px 0;
}

.invoices-text {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}